

.anasayfa2{
  background: url("../..//ana\ sayfa.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  height: 100vh;
  background-attachment: fixed;
}

.anasayfa{
  background: url("/static/images/anasayfaa.webp");
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    height: 1040vh;
    background-attachment: fixed;
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: -10px;
    margin-right: -10px;
 }

 .headd{
    position: absolute;
   height: 10vh;
    width: 100vw;
    top: 20%;
 }
 
 .yazi-1{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
   font-weight: 600;
 }

 .yazi-2{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
 }

 .yazi-3{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
 }

 .yazi-44{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   display: inline-block;
   font-family: "Raleway",sans-serif;
 }

 .yazi-5{
    height: 7vh;
    width: 6vw;
    font-size: 16px;
   margin: 10px;
   padding: 5px;
   color:white;
   display: inline-block;
   font-family:"Raleway",sans-serif;
 }

 .yazi-4{
  position: relative;
  left: 40%;
    top: 3%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  background-color: #eb571c;
  padding: 13px 23px 13px 24px;
  text-align: center;
  border-radius: 30px;
  letter-spacing: 1.25px;
  display: inline-block;
}
 
 .yazi-1:hover:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px);
}
  
  .yazi-1:hover:after {
    width: 50%;
    transform: translateY(5px);

  }

  .yazi-2::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px);
  }
  
  .yazi-2:hover::after {
    width: 50%;
    transform: translateY(5px);
  }
  .yazi-3::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); 
  }
  
  .yazi-3:hover::after {
    width: 50%;
    transform: translateY(5px);
  }

  .yazi-44::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px);
  }
  
  .yazi-44::after {
    width: 70%;
    transform: translateY(5px);
  }

  .yazi-5::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
    transform: translateY(5px); 
  }
  
  .yazi-5:hover::after {
    width: 85%;
    transform: translateY(5px);
  }

 .yazi-4:hover{
  opacity:0.3;
  box-shadow: .2s;
 }

 .navs{
  display: inline-block;
  position:fixed;
  margin-right: 35px;
  margin-top: 15px;
  top:4%;
  left: 25%;
}

 .logo{
  position: absolute;
  top:-4%;
  left: -1%;
  width: 50px;
}

img{
    width: 300px;
    height: auto;
}

 .yazilar-1{
    top: 20%;
    left: 22%;
    transform-origin: 50% 50%;
    margin: 0px;
    padding: 0px;
    font-size: 53.55px;
    position:absolute;
    font-family: "Raleway",sans-serif;
    color: white;
 }

 .yazilar-2{
    top: 32%;
    transform-origin: 50% 50%;
    position:absolute;
    left: 30%;
    font-family: "Raleway",sans-serif;
    color: white;
    font-size: 3rem; 
    border: 2px solid white; 
    padding: 20px; 
    text-align: center;
     color: #ffffff;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    font-size: 23.6043px;
}

.yazilar-3{
    top: 25%;
    position:absolute;
    left: 22%;
    font-family: "Raleway",sans-serif;
    color: white;
    padding: 20px; 
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    font-size: 20px;
    background-color: #df1d2f;
}

.yazilar-3:hover{
  opacity:0.3;
  box-shadow: .2s;
 }

.logolar{
position: absolute;
margin-top: 1%;
left: 121%;
color: #ffffff;
}

.next{
    background: transparent;
    height: 54px;
    line-height: 54px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 54px;
    font-size: 25px;
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    left: 92%;
    font-size: 18px;
    line-height: 54px;
}

.next:hover{
    opacity:0.9;
  box-shadow: .2s;
  background-color: #df1d2f;
}

.right{
    font-family: 'themify';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


  #logoş:hover{
    opacity:0.9;
    box-shadow: .2s;
  }

 .high{
   top: 45%;
   left: 22%;
    transform-origin: 50% 50%;
    margin: 0px;
    padding: 0px;
    font-size: 33.55px;
    position:absolute;
    font-family: "Raleway",sans-serif;
    color: white;
 }

 .source{
  position: absolute;
  display: inline-block;
  top: 51%;
  bottom: 5%;
  left: 0%;
  right: 0%;
 }

 .kart{
  display: inline-block;
  position: relative;
  left: 21%;
  width: 20vw;
  background-color:lavender ;
  height: 44vh;
  margin: 13px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.16);
  border: 3px solid #cbccd0;
 }

 .fotoş{
  position: absolute;
  top: 0%;
  width: 20vw;
  height: 25vh;
 }
 .minik{
  font-size: 14px;
  line-height: 20px;
  background-color: #171a1d;
  font-family: "Raleway",sans-serif;
  letter-spacing: 1px;
  margin-top: 16px;
  display: block;
  margin-bottom: 6px;
  position: absolute;
  top: 56%;
 }

 .minik2{
  display: block;
  margin-top: 16px;
  font-family: "barlow-bold";
  font-size: 28px;
  line-height: 36px;
  color: #171a1d;
  margin-bottom: 8px;
  position: absolute;
  top: 55%;
 }
 
 .minik3{
  position: relative;
  top: 80%;
  left: 30%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Raleway",sans-serif;
  font-size: 18px;
  background-color: #df1d2f;
  padding: 13px 23px 13px 24px;
  text-align: center;
  border-radius: 30px;
  letter-spacing: 1.25px;
  display: inline-block;
 }

 #logo {
  width: 200px;
  height: 200px; 
  margin-top: 10px;
  position:fixed;
  
}
#logo {
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1;}


.dropdown:hover .dropdown-content {display: block;}

.category-container {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 22vh;
  margin-bottom: 20px;
  z-index: -1;
}

.cards {
  display: flex;
justify-content: center;
flex-wrap: wrap; 
gap: 5px; 
 
}

.card {
  width: calc(25% - 40px); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 19px;
  transition: transform 0.5s ease; 
  
}

.card img {
  width: 100%; 
  height: auto; 
  min-height: 150px; 
  object-fit: cover; 
}

.card-text {
  position: relative; 
  background: rgba(0, 0, 0, 0.5); 
  color: white;
}


.card-text button {
  border: none;
  background: red; 
  color: white;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  display: block;
}
.card img {
  transition: transform 0.5s ease; 
}


.card:hover img {
  transform: scale(1.1); 
}
.categories{
  position:absolute;
  left: 13%;
  top: -9%;
  height: 7vh;
  width: 6vw;
  font-size: 30px;
  margin: 10px;
  padding: 0px 0px 10px 0px;
  color: black;
  display: inline-block;
  font-family: "Raleway", sans-serif;
}


.container-ecosystem {
background-image: url('/static/images/Education/Quizzes/earthquake.png');
background-size: cover;
background-position: center;
z-index: -1;
color: #fff; 
padding: 50px;
top: 20vh;
height: 200px; 
position: relative; 
overflow: hidden;
border-radius: 10px; 
}


.container-ecosystem .content {
max-width: 1200px; 
margin: 0 auto;
text-align: center;
}

.container-ecosystem .header {
display: flex;
justify-content: center;
gap: 20px; 
margin-bottom: 20px;
}

.container-ecosystem .grade, .container-ecosystem .subject-type {
background: #7A5AB8; 
padding: 10px 20px;
border-radius: 20px; 
font-weight: bold;
}

.container-ecosystem .title {
font-size: 2em; 
margin-bottom: 10px;
font-size: 26px;

color:white;
font-family: "Raleway",sans-serif;
font-weight: 600;
}

.container-ecosystem .author {
font-style: italic;
font-family: "Raleway",sans-serif;
}

.grade-link, .subject-type-link {
position: relative;
text-decoration: none; 
color: inherit; 
position: relative; 
z-index: 1;
}

.grade-link:hover, .subject-type-link:hover {
text-decoration: underline; 
}
.grade, .subject-type {
position: relative;
z-index: 1; 
   font-size: 16px;
   margin: 10px;
   padding: 0px 0px 10px 0px;
   color:white;
   font-family: "Raleway",sans-serif;
   font-weight: 600;
}

.content2{
width: 100.4%; 
background-color: white; 
position: absolute;
top: 70%;
height: 950vh;
display: flex;
    flex-direction: column;
}

section {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.simgeler {
  display: block;
  position: relative;
  width: 7%;
  text-align: center;
  margin-top: 2%;
  left: 1.5%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center
}

.simgeler img {
  width: 50px;
  margin-bottom: 10px;
}
.simgeler a {
  margin: 10px;
}
.sorular {
  display: inline-block;
  width: 46%;
  position: absolute;
  left: 15%;
  margin-top: 2%;
}

.bilgi {
  width: 23%;
  position:sticky;
  display: block;
  left: 72%;
  margin-top: -20%;
  border-radius: 10px; 
  top: -41%;
}


section {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.sorular {
  background-color: #fafafa;
}

.resim {
  float: left;
  margin-right: 20px;
}

img {
  width: 200px;
}

.metin {
  clear: both;
}

.cevaplar {
  list-style: none;
  padding: 0;
}

.cevaplar li {
  margin-bottom: 10px;
}

.sosyal-medya-butonu {
  border: none;          
  border-radius: 50%;   
  width: 40px;          
  height: 40px;         
  margin: 10px 0; 
  padding: 8px;         
  background-color: #eb571c; 
  color: #555;           
  display: inline-flex;  
  justify-content: center;
  align-items: center;
}
.social-media-icon-bar {
  position: absolute;
  left: 5%;
  top: 25.7%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 10px;
  border-radius: 22px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.icon-button {
  display: block;
  width: 44px;
  height: 44px;
  margin-bottom: 10px;
  border-radius: 50%;
  background-color: #fff;
  color: #555;
  text-align: center;
  line-height: 44px;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}

.icon-button:hover {
  color: #fff;
  background-color: #555;
}

.icon-button .fa {
  font-size: 20px;
}


.facebook { color: #3b5998; }
.facebook:hover { background-color: #3b5998; }

.twitter { color: #55acee; }
.twitter:hover { background-color: #55acee; }

.google-plus { color: #dd4b39; }
.google-plus:hover { background-color: #dd4b39; }

.linkedin { color: #0077b5; }
.linkedin:hover { background-color: #0077b5; }

.pinterest { color: #cb2027; }
.pinterest:hover { background-color: #cb2027; }

.vk { color: #45668e; }
.vk:hover { background-color: #45668e; }

.whatsapp { color: #25D366; }
.whatsapp:hover { background-color: #25D366; }

.email { color: #777; }
.email:hover { background-color: #777; }

.topic {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.topic img {
  flex-shrink: 0;
  width: 100px;
  height: 100px; 
  border-radius: 10px ;
  object-fit: cover;
  transition: transform 0.5s ease; 
}
.topic:hover img {
  transform: scale(1.1); 
}
.topic p {
  font-size: 16px;
  margin: 10px;
  padding: 0px 0px 10px 0px;
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-weight: 600;
}
.topic:hover p{
 color: #1F5DEA;
}
.othertest{
  font-size: 25px;
  margin: 10px;
  padding: 0px 0px 10px 0px;
  display: inline-block;
  font-family: "Raleway",sans-serif;
  font-weight: 600;
}

.quiz-container {
  position: absolute;
  width: 65%;
  left: 13%;
  position: absolute;
  display: inline-block;
  margin-top: 3%;
  top: 3.5%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.question h2 {
  font-size: 18px;
  color: #333;
  font-family: "Raleway",sans-serif;
  font-weight: 600;
}

label {
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  font-family: "Raleway",sans-serif;
  font-weight: 200;
}

input[type="radio"] {
  margin-right: 10px;
}

button {
  position: relative;
  margin-top: 3%;
    top: 4%;
    left: 80%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family:"Raleway",sans-serif;
  font-size: 18px;
  background-color: #eb571c;
  padding: 13px 23px 13px 24px;
  text-align: center;
  border-radius: 30px;
  letter-spacing: 1.25px;
  display: inline-block;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

button:hover {
  opacity:0.3;
  box-shadow: .2s;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  max-width: 600px; 
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 25px; 
  height: 25px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px; 
}

.card.active {
  background-color: #333;
  color: #fff;
}
.correct-answer {
  color: green;
}

#table-of-contents {
  position:sticky;
  top: 2%;
  left: 0%;
  right: 0;
  width: 20%;
  border-left: 1px solid #ccc;
  padding-left: 20px;
  font-size: 14px;
    line-height: 24px;
    color: #171a1d;
    letter-spacing: 1.75px;
    font-family: roboto-bold;
    margin-bottom: 16px;
}

#content {
  position: absolute;
  width: 62%;
  left: 22%;
  position: absolute;
  display: inline-block;
  margin-top: 3%;
  top: 0.2%;
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-size: 14px;
  line-height: 24px;
  color: #171a1d;
  letter-spacing: 1.75px;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  margin-bottom: 16px;
}

.paragraph {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  line-height: 1.6;
  color: #666;
}

h2 {
  color: #555;
}
.container img {
  width: 100%; 
  height: auto; 
}
.yazi-4{
  position: relative;
  left: 20%;
  margin-top: 3.6%;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family:"Raleway",sans-serif;
  font-size: 15px;
  background-color: #eb571c;
  padding: 13px 23px 13px 24px;
  text-align: center;
  border-radius: 30px;
  letter-spacing: 1.25px;
  display: inline-block;
}

.logolar{
  position: absolute;
  top: 18%;
  right: -58%;
  color: #ffffff;
  }
  
  .insta i {
    font-size: 24px;
    color: #C13584;
    background: transparent;
    border: none;
}
.insta a {
    text-decoration: none;
}
.insta:hover i {
    font-size: 26px;
    color: #E1306C;
}

.twit i {
  font-size: 24px;
  color: #C13584;
  background: transparent;
  border: none;
}
.twit a {
  text-decoration: none;
}
.twit:hover i {
  font-size: 26px;
  color: #E1306C;
}