<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet
    " href="/static/css/Donation/donation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DisasterPal</title>    

</head>

<body>
<div class="anasayfa" id="anasayfa">
    <div class="headdd">

       
      
        <div class="navs">
                <a href="homepage"> <h2 class="yazi-1" id="me">Home</h2></a>
                <a href="psysupport"> <h2 class="yazi-3">Psychological Support</h2></a>
                <a href="supportgroups">  <h2 class="yazi-3">Support Groups</h2></a>
                <div class="dropdown">
                    <a href="/education" class="dropbtn">
                        <h2 class="yazi-44">Education & Training</h2>
                    </a>

                    <div class="dropdown-content">
                        <a href="quizzes">Quizzes</a>
                        <a href="informations">Informations</a>
                    </div>
                </div>
                <a href="../currentdisasters">  <h2 class="yazi-3">Current Disasters</h2></a>
                <a href="donation">  <h2 class="yazi-2">Donations</h2></a>
                
                <div class="logolar">
                    <a href="https://www.instagram.com/disasterpal/" target="_blank" rel="noopener noreferrer" class="logoo">
                        <div class="insta">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    
                    <a href="https://x.com/DisasterPal43" target="_blank" rel="noopener noreferrer" class="logoo">
                        <div class="twit">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </a>
                </div>
                
                <% if (isLoggedIn) { %>
                    <a href="../profilee"><h2 class="yazi-4">Profile</h2></a>
                      <a href="../log-outt"><h2 class="yazi-4">Log-out</h2></a>
                <% } else { %>
                    <a href="../../login"><h2 class="yazi-4">Login</h2></a>
                <% } %>
                        
       
    </div>
   

    <div class="logo" id="memo">
        <a href="homepage"><img src="/static/images/zyro-image (4).png" id="logo" width="100" height="100"></a>
    </div>


    <div class="yazilar">

        <div class="content2">
         
            <div class="menu-container">
                <i class="fa-solid fa-house"></i>
                <div class="menu-item">
                  <div class="menu-icon"></div>
                  <a href="psysupport"><h4 style="position: relative; left: 75%; margin-top: 12%;">  </h4></a>
                </div>
                <% if (!isLoggedIn) { %>
                    <a href="../login"><h3 class="yazi-444">Login</h3></a>
                <% } %>
                <div class="search-icon"></div>
                <div class="more-icon"></div>
              </div>
                             
   

 
              <main>
                <div class="donation-form">
                    <h2 class="makedonation">Make a Donation</h2>
                    <form  method="post" id="donationForm">
                        <label for="donorName" class="küçükyazılar" >Name</label>
                        <input type="text" id="donorName" name="donorName" class="" required>
                        
                        <label for="donorEmail" class="küçükyazılar"  >Email</label>
                        <input type="email" id="donorEmail" name="donorEmail" required>
                        
                        <label for="amount" class="küçükyazılar" >Donation Amount</label>
                        <input type="number" id="amount" name="amount" required>
                        
                        <label for="message" class="küçükyazılar" >Message (Optional)</label>
                        <textarea id="message" name="message"></textarea>
                        
                        <button type="submit" class="donate-button">Donate Now</button>
                    </form>
                </div>
            </main>

             <div class="info">
                During this project, <a href="https://woebothealth.com/" class="linkk">“Woebot”</a>  and  <a href="https://azure.microsoft.com/en-us/products/ai-services/ai-bot-service" class="linkk">"Microsoft Azure Bot Service"</a>  applications were utilized in the process of creating an AI-supported chatbot in "Psychological Support". In addition, <a href="https://crisisresponse.google/" class="linkk">“Google Crisis Response”</a> was utilized for the live map and note sharing feature named “Current Disasters”.

             </div>

            <footer class="allrigths2">
                <p class="allrigths">&copy; 2024 DisasterPal. All rights reserved.</p>
            </footer>          
        
                        
                        
        
</div>

      
        </div>
       

        <div class="next">
            <i class="bubble" id="bubbleid"></i>
        </div>
        
        <div class="previous">
            <i class="bubble-2" id="bubble2id"></i>
        </div>

<script src="/static/js/Donation/donation.js"></script>
</body>
</html>