<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet
    " href="/static/css/SupportGroups/supportgroups.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>DisasterPal</title>    

</head>

<body>
<div class="anasayfa" id="anasayfa">
    <div class="headdd">

       
      
        <div class="navs">
                <a href="homepage"> <h2 class="yazi-1" id="me">Home</h2></a>
                <a href="psysupport"> <h2 class="yazi-2">Psychological Support</h2></a>
                <a href="supportgroups">  <h2 class="yazi-3">Support Groups</h2></a>
                <div class="dropdown">
                    <a href="/education" class="dropbtn">
                        <h2 class="yazi-44">Education & Training</h2>
                    </a>
                    <div class="dropdown-content">
                        <a href="quizzes">Quizzes</a>
                        <a href="informations">Informations</a>
                    </div>
                </div>
                <a href="currentdisasters">  <h2 class="yazi-2">Current Disasters</h2></a>
                <a href="donation">  <h2 class="yazi-2">Donations</h2></a>
                
                <div class="logolar">
                    <a href="https://www.instagram.com/disasterpal/" target="_blank" rel="noopener noreferrer" class="logoo">
                        <div class="insta">
                            <i class="fab fa-instagram"></i>
                        </div>
                    </a>
                    
                    <a href="https://x.com/DisasterPal43" target="_blank" rel="noopener noreferrer" class="logoo">
                        <div class="twit">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                    </a>
                </div>
                
                <% if (isLoggedIn) { %>
                    <a href="../profilee"><h2 class="yazi-4">Profile</h2></a>
                      <a href="../log-outt"><h2 class="yazi-4">Log-out</h2></a>
                <% } else { %>
                    <a href="../../login"><h2 class="yazi-4">Login</h2></a>
                <% } %>
                
           
       
    </div>

    

    <div class="logo" id="memo">
        <a href="homepage"><img src="/static/images/zyro-image (4).png" id="logo" width="100" height="100"></a>
    </div>


    <div class="yazilar">

        <div class="content2">
         
            <div class="menu-container">
                <i class="fa-solid fa-house"></i>
                <div class="menu-item">
                  <div class="menu-icon"></div>
                  <a href="supportgroups"><h4 style="position: relative; left: 220%; margin-top: 34%;"> Forums  </h4></a>
                </div>
                <% if (!isLoggedIn) { %>
                    <a href="../login"><h3 class="yazi-444">Login</h3></a>
                <% } %>
                <div class="search-icon"></div>
                <div class="more-icon"></div>
              </div>
              
                   
                    
                    <div class="kartlar">

 
                        <div class="kart kart-1">
                            <img src="static/images/SupportGroups/avalanche.png" class="kartimage">
                            <a href="supportgroups/avalanche"><h2 class="kartyazi"  > Avalanche  </h2></a>
                            <p style="color: rgba(255, 255, 255, .5);">Delve into discussions on avalanche prediction, survival tips, and stories of resilience in snowy terrains.</p>
                        </div>


                        <div class="kart kart-2">
                            <img src="static/images/SupportGroups/earthquake2.png" class="kartimage2">
                            <a href="supportgroups/earthquake"><h2 class="kartyazi" > Earthquake  </h2></a>
                            <p style="color: rgba(255, 255, 255, .5) ">Explore the causes, impacts, and recovery strategies related to seismic events from around the world.</p>
                        </div>

                        <div class="kart kart-3">
                            <img src="static/images/SupportGroups/fire2.png" class="kartimage">
                            <a href="supportgroups/fire"><h2 class="kartyazi" > Fire  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">Share insights, prevention techniques, and recovery stories about wildfires and urban fires.</p>
                          </div>

                          <div class="kart kart-4">
                            <img src="static/images/SupportGroups/flood.png" class="kartimage">
                            <a href="supportgroups/flood"><h2 class="kartyazi" > Flood  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">Examine the causes, prevention, and aftermath of floods, including community responses and resilience strategies.</p>
                          </div>

                          <div class="kart kart-5">
                            <img src="static/images/SupportGroups/landslide.png" class="kartimage">
                            <a href="supportgroups/landslide"><h2 class="kartyazi" > Landslide  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">Discuss the science behind landslides, share experiences, and explore measures to mitigate their impact.</p>
                          </div>

                          <div class="kart kart-6">
                            <img src="static/images/SupportGroups/storm.png" class="kartimage">
                            <a href="supportgroups/storm"><h2 class="kartyazi" > Storm  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">Engage in conversations about storm forecasting, damage prevention, and the path to recovery after severe weather events.</p>
                          </div>

                          <div class="kart kart-7">
                            <img src="static/images/SupportGroups/off.png" class="kartimage">
                            <a href="supportgroups/off-topic"><h2 class="kartyazi" > Off-Topic  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">For anything not related to natural disasters, this is your space to connect and discuss a wide range of topics.</p>
                          </div>

                          <div class="kart kart-8">
                            <img src="static/images/SupportGroups/support.png" class="kartimage">
                            <a href="supportgroups/support"><h2 class="kartyazi" > Support  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">Raise any issues you have with the app.</p>
                          </div>

                          <div class="kart kart-8">
                            <img src="static/images/SupportGroups/members.png" class="kartimage">
                            <a href="supportgroups/members"><h2 class="kartyazi" > Members  </h2></a>
                              <p style="color: rgba(255, 255, 255, .5);">View our registered members.</p>
                          </div>
                        
                        </div>
   
        
</div>

      
        </div>
       

        <div class="next">
            <i class="bubble" id="bubbleid"></i>
        </div>
        
        <div class="previous">
            <i class="bubble-2" id="bubble2id"></i>
        </div>

<script src="/static/js/SupportGroups/supportgroups.js"></script>
</body>
</html>